*{
    margin:0;
    padding: 0;
}
body{
    font-family: 'Ubuntu', sans-serif;
}
header{
    position: relative;
}
.logo{
    display: flex;
    overflow: auto;
    border: 1px solid rgb(187, 169, 169);
    align-items:stretch;
    justify-content: center;
    flex-direction: row;
    position: sticky;
    height: 70px;
    background-color: white;
}
.firstnav{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.firstnav li{
    list-style: none;
}
.firstnav li a{
    text-decoration: none;
    font-size: 1.2rem;
    padding: 0px 12px;
    color: black;
}
.firstnav li a:hover{
    text-decoration: underline;
}

.navigation{
    margin-top: 20px;;
    display:flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    overflow: auto;
}
.navigation li{
    list-style: none;
}
.navigation:hover{
    background-color: rgba(0,0,0,0.2);
    font-weight: bold;
    border-bottom: 1px solid oldlace;
    border-top: 1px solid oldlace;
}
.navigation li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 0px 10px;
}
.navigation li a:hover{
    font-weight: bold;
    text-decoration: underline;
}

header::before{
    background: url("https://wallpaperaccess.com/full/13662.jpg") no-repeat center center/cover;
    content: "";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
}

section{
    display: flex;
    flex-direction: column;
    width: 35%;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    overflow: auto;
    height: 380px;
}
section p{
    text-align: center;
}
section h1{
    text-decoration: underline;
}

.middle{
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://images.unsplash.com/photo-1543171165-6ec6ede147ca?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=952&q=80");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
}
.repair{
    /* border: 2px solid red; */
    margin: 10px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 140px;
    }
.repair img{
    width: 500px;
    padding: 7px;
    margin: 20px;
}
.repair h2{
    font-size: 2.0rem;
}


.servicelocator
{
    display: flex;
    border: 2px solid black;
    padding: 20px;
    justify-content: center;
    align-items: center;
    /* margin: 20px 20px; */
    overflow: auto;
    background-color: rgba(0,0,0,0.4);;
}
.getinfo{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red;  */
    margin: 10px; 
    padding: 20px;
    font-size: 2.1rem; 
    height: 100%;
}
.getinfo input{
    height: 27px;
    margin: 30px 16px;
}
.getinfo a{
    margin-left: 500px;;
}
.servicemap img{
    width: 800px;
}



.row{
    display: flex;
    flex-direction: row;
    border: 2px solid brown;
    margin: 20px 0px;
    justify-content: center;
    align-items: center;
    background-image: url("https://wallpaperaccess.com/full/26227.jpg");
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;   
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.car{
    display:flex;
    flex-direction: column;
    border: 2px solid rgb(180, 180, 180);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: aliceblue;
    margin:10px;
    background-color: rgba(0,0,0,0.4);
}
.car img{
    width: 200px;
    margin: 5px;
}
.car button{
    margin: 10px;
}
.car button:hover{
    cursor: pointer;
    color: green;
    font-weight: bold;
}